.breadcrumb {
  margin-top: 40px;
}

.section {
  padding: 18px 0px;
}

.form-control {
  border: 1px solid #337CBB;
}

.btn-primary form {
  text-align: center;
}

footer {
  margin-top: 44px;
}

footer a {
  color: #fff;
  padding-right: 10px;
}

form {
  margin-top: 35px;
}

iframe {
  width: 450px;
  height: 250px;
}